### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [27]:
total_schools = school_data.school_name.count()
total_students = school_data_complete.student_name.count()
total_budget = school_data.budget.sum()
avg_math = round(school_data_complete.math_score.mean(),2)
avg_reading = round(school_data_complete.reading_score.mean(),2)
avg_overall_score = (avg_math + avg_reading)/2


pass_math = round((school_data_complete.loc[school_data_complete["math_score"] >= 70].shape[0])/total_students,4)*100
pass_reading = round((school_data_complete[school_data_complete["reading_score"] >= 70].shape[0])/total_students,4)*100


df = pd.DataFrame(
    {"Total Schools" : [total_schools],
     "Total Students" : [total_students],
     "Total Budget" : [total_budget],
     "Average Math Score" : [avg_math],
     "Average Reading Score" : [avg_reading],
     "Passing Math %" : [pass_math],
     "Passing Reading %" : [pass_reading],
     "Overall Passing Rate" : [avg_overall_score]
    }
    )

df["Total Budget"] = df["Total Budget"].map("${:,.0f}".format)
df["Total Students"] = df["Total Students"].map("{:,.0f}".format)

df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Passing Math %,Passing Reading %,Overall Passing Rate
0,15,"39,170","$24,649,428",78.99,81.88,74.98,85.81,80.435

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [35]:
top_schools_df = school_data_complete[["school_name","math_score","reading_score"]]

top_schools_df.loc[:,"% Passing Math"] = top_schools_df["math_score"] >= 70
top_schools_df.loc[:,"% Passing Reading"] = top_schools_df["reading_score"] >= 70
top_schools_df.loc[:,"% Overall Passing Rate"] = (top_schools_df.loc[:,"% Passing Math"] * .5 + top_schools_df.loc[:,"% Passing Reading"]*.5)

grouped = top_schools_df.groupby("school_name").mean()




grouped.loc[:,"% Passing Reading"] = grouped.loc[:,"% Passing Reading"] * 100
grouped.loc[:,"% Passing Math"] = grouped.loc[:,"% Passing Math"] * 100
grouped.loc[:,"% Overall Passing Rate"] = grouped.loc[:,"% Overall Passing Rate"] * 100


merged_df = pd.merge(grouped,school_data, on="school_name")

merged_df["Per Student Budget"] = merged_df["budget"]/merged_df["size"]

merged_df = merged_df.drop(columns = "School ID")


merged_df = merged_df.rename(columns={
    "type": "School Type",
    "size" : "Total Students",
    "budget" : "Total School Budget",
    "math_score" : "Average Math Score",
    "reading_score" : "Average Reading Score"  
})

merged_df = merged_df[["school_name","School Type","Total Students","Total School Budget","Per Student Budget","Average Math Score","Average Reading Score","% Passing Math","% Passing Reading","% Overall Passing Rate"]]

merged_df = merged_df.set_index("school_name")

num_df = merged_df.copy()

merged_df['Total School Budget'] = merged_df['Total School Budget'].map("${:,.0f}".format)
merged_df['Total Students'] = merged_df['Total Students'].map("{:,}".format)
merged_df['Per Student Budget'] = merged_df['Per Student Budget'].map("${:.0f}".format)
merged_df['Average Math Score'] = merged_df['Average Math Score'].map("{:.2f}%".format)
merged_df['Average Reading Score'] = merged_df['Average Reading Score'].map("{:.2f}%".format)
merged_df['% Passing Math'] = merged_df['% Passing Math'].map("{:.2f}%".format)
merged_df['% Passing Reading'] = merged_df['% Passing Reading'].map("{:.2f}%".format)
merged_df['% Overall Passing Rate'] = merged_df['% Overall Passing Rate'].map("{:.2f}%".format)


merged_df.sort_values(by=["% Overall Passing Rate"],ascending = False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06%,83.98%,94.13%,97.04%,95.59%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42%,83.85%,93.27%,97.31%,95.29%
Griffin High School,Charter,"1,468","$917,500",$625,83.35%,83.82%,93.39%,97.14%,95.27%
Pena High School,Charter,962,"$585,858",$609,83.84%,84.04%,94.59%,95.95%,95.27%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27%,83.99%,93.87%,96.54%,95.20%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [36]:
merged_df.sort_values(by=["% Overall Passing Rate"],ascending = True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84%,80.74%,66.37%,80.22%,73.29%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71%,81.16%,65.99%,80.74%,73.36%
Huang High School,District,"2,917","$1,910,635",$655,76.63%,81.18%,65.68%,81.32%,73.50%
Johnson High School,District,"4,761","$3,094,650",$650,77.07%,80.97%,66.06%,81.22%,73.64%
Ford High School,District,"2,739","$1,763,916",$644,77.10%,80.75%,68.31%,79.30%,73.80%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [41]:
math_scores_df = student_data[["school_name","grade","math_score"]]


scores_grouped =  math_scores_df.groupby(["school_name","grade"]).mean()
   
scores_grouped = scores_grouped.reset_index()

pivoted = scores_grouped.pivot(index="school_name", columns = "grade", values = "math_score")

pivoted = pivoted[['9th','10th', '11th', '12th']]

pivoted["9th"] = pivoted["9th"].map("{:.2f}%".format)
pivoted["10th"] = pivoted["10th"].map("{:.2f}%".format)
pivoted["11th"] = pivoted["11th"].map("{:.2f}%".format)
pivoted["12th"] = pivoted["12th"].map("{:.2f}%".format)

pivoted

grade                     9th    10th    11th    12th
school_name
Bailey High School     77.08%  77.00%  77.52%  76.49%
Cabrera High School    83.09%  83.15%  82.77%  83.28%
Figueroa High School   76.40%  76.54%  76.88%  77.15%
Ford High School       77.36%  77.67%  76.92%  76.18%
Griffin High School    82.04%  84.23%  83.84%  83.36%
Hernandez High School  77.44%  77.34%  77.14%  77.19%
Holden High School     83.79%  83.43%  85.00%  82.86%
Huang High School      77.03%  75.91%  76.45%  77.23%
Johnson High School    77.19%  76.69%  77.49%  76.86%
Pena High School       83.63%  83.37%  84.33%  84.12%
Rodriguez High School  76.86%  76.61%  76.40%  77.69%
Shelton High School    83.42%  82.92%  83.38%  83.78%
Thomas High School     83.59%  83.09%  83.50%  83.50%
Wilson High School     83.09%  83.72%  83.20%  83.04%
Wright High School     83.26%  84.01%  83.84%  83.64%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [42]:
reading_scores_df = student_data[["school_name","grade","reading_score"]]


reading_scores_grouped =  reading_scores_df.groupby(["school_name","grade"]).mean()
   
reading_scores_grouped = reading_scores_grouped.reset_index()

reading_pivoted = reading_scores_grouped.pivot(index="school_name", columns = "grade", values = "reading_score")

reading_pivoted = reading_pivoted[['9th','10th', '11th', '12th']]

reading_pivoted["9th"] = reading_pivoted["9th"].map("{:.2f}%".format)
reading_pivoted["10th"] = reading_pivoted["10th"].map("{:.2f}%".format)
reading_pivoted["11th"] = reading_pivoted["11th"].map("{:.2f}%".format)
reading_pivoted["12th"] = reading_pivoted["12th"].map("{:.2f}%".format)



reading_pivoted

grade                     9th    10th    11th    12th
school_name
Bailey High School     81.30%  80.91%  80.95%  80.91%
Cabrera High School    83.68%  84.25%  83.79%  84.29%
Figueroa High School   81.20%  81.41%  80.64%  81.38%
Ford High School       80.63%  81.26%  80.40%  80.66%
Griffin High School    83.37%  83.71%  84.29%  84.01%
Hernandez High School  80.87%  80.66%  81.40%  80.86%
Holden High School     83.68%  83.32%  83.82%  84.70%
Huang High School      81.29%  81.51%  81.42%  80.31%
Johnson High School    81.26%  80.77%  80.62%  81.23%
Pena High School       83.81%  83.61%  84.34%  84.59%
Rodriguez High School  80.99%  80.63%  80.86%  80.38%
Shelton High School    84.12%  83.44%  84.37%  82.78%
Thomas High School     83.73%  84.25%  83.59%  83.83%
Wilson High School     83.94%  84.02%  83.76%  84.32%
Wright High School     83.83%  83.81%  84.16%  84.07%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [44]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [52]:
num_df["Per Student Budget"] = num_df["Per Student Budget"].astype(float)



school_by_spending = num_df.copy()

school_by_spending = school_by_spending.reset_index()

school_by_spending = school_by_spending[['Per Student Budget', 'Average Math Score', 'Average Reading Score','% Passing Math','% Passing Reading', '% Overall Passing Rate']]


school_by_spending["Per Student Budget Summary"] = pd.cut(school_by_spending["Per Student Budget"],spending_bins, labels = group_names, include_lowest = True)


school_by_spending = school_by_spending.groupby(["Per Student Budget Summary"]).mean()
school_by_spending = school_by_spending[['Average Math Score', 'Average Reading Score','% Passing Math','% Passing Reading', '% Overall Passing Rate']]

school_by_spending["Average Math Score"] = school_by_spending["Average Math Score"].map("{:.2f}%".format)
school_by_spending["Average Reading Score"] = school_by_spending["Average Reading Score"].map("{:.2f}%".format)
school_by_spending["% Passing Math"] = school_by_spending["% Passing Math"].map("{:.2f}%".format)
school_by_spending["% Passing Reading"] = school_by_spending["% Passing Reading"].map("{:.2f}%".format)
school_by_spending["% Overall Passing Rate"] = school_by_spending["% Overall Passing Rate"].map("{:.2f}%".format)



school_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Per Student Budget Summary,,,,,
<$585,83.46%,83.93%,93.46%,96.61%,95.04%
$585-615,83.60%,83.89%,94.23%,95.90%,95.07%
$615-645,79.08%,81.89%,75.67%,86.11%,80.89%
$645-675,77.00%,81.03%,66.16%,81.13%,73.65%

## Scores by School Size

* Perform the same operations as above, based on school size.

In [56]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [62]:
school_by_size = num_df.copy()

school_by_size = school_by_size.reset_index()

school_by_size = school_by_size[["Total Students",'Average Math Score', 'Average Reading Score','% Passing Math','% Passing Reading', '% Overall Passing Rate']]

school_by_size["School Size"] = pd.cut(school_by_size["Total Students"],size_bins, labels = group_names, include_lowest = True)

school_by_size = school_by_size.groupby("School Size").mean()

school_by_size = school_by_size[['Average Math Score', 'Average Reading Score','% Passing Math','% Passing Reading', '% Overall Passing Rate']]

school_by_size["Average Math Score"] = school_by_size["Average Math Score"].map("{:.2f}%".format) 
school_by_size["Average Reading Score"] = school_by_size["Average Reading Score"].map("{:.2f}%".format) 
school_by_size["% Passing Math"] = school_by_size["% Passing Math"].map("{:.2f}%".format) 
school_by_size["% Passing Reading"] = school_by_size["% Passing Reading"].map("{:.2f}%".format) 
school_by_size["% Overall Passing Rate"] = school_by_size["% Overall Passing Rate"].map("{:.2f}%".format) 


school_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),83.82%,83.93%,93.55%,96.10%,94.82%
Medium (1000-2000),83.37%,83.86%,93.60%,96.79%,95.20%
Large (2000-5000),77.75%,81.34%,69.96%,82.77%,76.36%

## Scores by School Type

* Perform the same operations as above, based on school type.

In [64]:
school_by_type = num_df.copy()

school_by_type = school_by_type[["School Type",'Average Math Score', 'Average Reading Score','% Passing Math','% Passing Reading', '% Overall Passing Rate']]

school_by_type = school_by_type.groupby("School Type").mean()


school_by_type["Average Math Score"] = school_by_type["Average Math Score"].map("{:.2f}%".format) 
school_by_type["Average Reading Score"] = school_by_type["Average Reading Score"].map("{:.2f}%".format) 
school_by_type["% Passing Math"] = school_by_type["% Passing Math"].map("{:.2f}%".format) 
school_by_type["% Passing Reading"] = school_by_type["% Passing Reading"].map("{:.2f}%".format) 
school_by_type["% Overall Passing Rate"] = school_by_type["% Overall Passing Rate"].map("{:.2f}%".format) 


school_by_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Charter,83.47%,83.90%,93.62%,96.59%,95.10%
District,76.96%,80.97%,66.55%,80.80%,73.67%